# Calculate educational attainment growth of regions in Finland

Data source: Statistic Finland

Table: 12bq -- Population aged 15 or over by level of education, municipality, gender and age, 1970-2022

Link: https://pxdata.stat.fi/PxWeb/pxweb/en/StatFin/StatFin__vkour/statfin_vkour_pxt_12bq.px/

In [1]:
import pandas as pd
import numpy as np

In [9]:
# Create the base with region column DataFrame
base_df = pd.read_csv('../data/Indices/population_density_index.csv')
base_df = base_df[['Region code', 'Region name (en)', 'Region name (fi)']].copy()

base_df

   Region code      Region name (en)   Region name (fi)
0         MK01               Uusimaa            Uusimaa
1         MK02     Southwest Finland    Varsinais-Suomi
2         MK04             Satakunta          Satakunta
3         MK05            Kanta-Häme         Kanta-Häme
4         MK06             Pirkanmaa          Pirkanmaa
5         MK07           Päijät-Häme        Päijät-Häme
6         MK08           Kymenlaakso        Kymenlaakso
7         MK09         South Karelia      Etelä-Karjala
8         MK10            South Savo         Etelä-Savo
9         MK11            North Savo       Pohjois-Savo
10        MK12         North Karelia    Pohjois-Karjala
11        MK13       Central Finland        Keski-Suomi
12        MK14    South Ostrobothnia    Etelä-Pohjanmaa
13        MK15          Ostrobothnia          Pohjanmaa
14        MK16  Central Ostrobothnia    Keski-Pohjanmaa
15        MK17    North Ostrobothnia  Pohjois-Pohjanmaa
16        MK18                Kainuu             Kainuu
17        MK19               Lapland              Lappi
18        MK21                 Åland         Ahvenanmaa

In [10]:
import requests
import json

# Define the URL and JSON query
url = "https://pxdata.stat.fi:443/PxWeb/api/v1/en/StatFin/vkour/statfin_vkour_pxt_12bq.px"
query = {
  "query": [
    {
      "code": "Vuosi",
      "selection": {
        "filter": "item",
        "values": [
          "2018",
          "2019",
          "2020",
          "2021",
          "2022"
        ]
      }
    },
    {
      "code": "Alue",
      "selection": {
        "filter": "agg:_Regions 2023.agg",
        "values": [
          "MK01",
          "MK02",
          "MK04",
          "MK05",
          "MK06",
          "MK07",
          "MK08",
          "MK09",
          "MK10",
          "MK11",
          "MK12",
          "MK13",
          "MK14",
          "MK15",
          "MK16",
          "MK17",
          "MK18",
          "MK19",
          "MK21"
        ]
      }
    },
    {
      "code": "Ikä",
      "selection": {
        "filter": "item",
        "values": [
          "25-29",
          "30-34",
          "35-39",
          "40-44",
          "45-49",
          "50-54",
          "55-59",
          "60-64",
          "65-69",
          "70-74",
          "75-79",
          "80-"
        ]
      }
    },
    {
      "code": "Sukupuoli",
      "selection": {
        "filter": "item",
        "values": [
          "SSS"
        ]
      }
    },
    {
      "code": "Koulutusaste",
      "selection": {
        "filter": "item",
        "values": [
          "SSS",
          "6",
          "7",
          "8"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

# Send the POST request
response = requests.post(url, json=query)

# Check the response status and content
if response.status_code == 200:
    json_data = response.json()
else:
    print("Request failed with status code:", response.status_code)

json_data

{'class': 'dataset',
 'label': 'Population aged 15 or over by level of education, municipality, gender and age by Year, Area, Age, Gender, Level of education and Information',
 'source': 'Statistics Finland, educational structure of population',
 'updated': '2023-10-03T05:00:00Z',
 'id': ['Vuosi', 'Alue', 'Ikä', 'Sukupuoli', 'Koulutusaste', 'Tiedot'],
 'size': [5, 19, 12, 1, 4, 1],
 'dimension': {'Vuosi': {'extension': {'show': 'value'},
   'label': 'Year',
   'category': {'index': {'2018': 0,
     '2019': 1,
     '2020': 2,
     '2021': 3,
     '2022': 4},
    'label': {'2018': '2018',
     '2019': '2019',
     '2020': '2020',
     '2021': '2021',
     '2022': '2022'}}},
  'Alue': {'extension': {'show': 'value'},
   'label': 'Area',
   'category': {'index': {'MK01': 0,
     'MK02': 1,
     'MK04': 2,
     'MK05': 3,
     'MK06': 4,
     'MK07': 5,
     'MK08': 6,
     'MK09': 7,
     'MK10': 8,
     'MK11': 9,
     'MK12': 10,
     'MK13': 11,
     'MK14': 12,
     'MK15': 13,
     'MK16': 14,
     'MK17': 15,
     'MK18': 16,
     'MK19': 17,
     'MK21': 18},
    'label': {'MK01': 'MK01 Uusimaa',
     'MK02': 'MK02 Southwest Finland',
     'MK04': 'MK04 Satakunta',
     'MK05': 'MK05 Kanta-Häme',
     'MK06': 'MK06 Pirkanmaa',
     'MK07': 'MK07 Päijät-Häme',
     'MK08': 'MK08 Kymenlaakso',
     'MK09': 'MK09 South Karelia',
     'MK10': 'MK10 South Savo',
     'MK11': 'MK11 North Savo',
     'MK12': 'MK12 North Karelia',
     'MK13': 'MK13 Central Finland',
     'MK14': 'MK14 South Ostrobothnia',
     'MK15': 'MK15 Ostrobothnia',
     'MK16': 'MK16 Central Ostrobothnia',
     'MK17': 'MK17 North Ostrobothnia',
     'MK18': 'MK18 Kainuu',
     'MK19': 'MK19 Lapland',
     'MK21': 'MK21 Åland'}},
   'link': {'describedby': [{'extension': {'Alue': 'SCALE-TYPE=nominal'}}]}},
  'Ikä': {'extension': {'show': 'value'},
   'label': 'Age',
   'category': {'index': {'25-29': 0,
     '30-34': 1,
     '35-39': 2,
     '40-44': 3,
     '45-49': 4,
     '50-54': 5,
     '55-59': 6,
     '60-64': 7,
     '65-69': 8,
     '70-74': 9,
     '75-79': 10,
     '80-': 11},
    'label': {'25-29': '25 - 29',
     '30-34': '30 - 34',
     '35-39': '35 - 39',
     '40-44': '40 - 44',
     '45-49': '45 - 49',
     '50-54': '50 - 54',
     '55-59': '55 - 59',
     '60-64': '60 - 64',
     '65-69': '65 - 69',
     '70-74': '70 - 74',
     '75-79': '75 - 79',
     '80-': '80 -'}},
   'link': {'describedby': [{'extension': {'Ikä': 'SCALE-TYPE=ordinal'}}]}},
  'Sukupuoli': {'extension': {'show': 'value'},
   'label': 'Gender',
   'category': {'index': {'SSS': 0}, 'label': {'SSS': 'Total'}},
   'link': {'describedby': [{'extension': {'Sukupuoli': 'SCALE-TYPE=nominal'}}]}},
  'Koulutusaste': {'extension': {'show': 'value'},
   'label': 'Level of education',
   'category': {'index': {'SSS': 0, '6': 1, '7': 2, '8': 3},
    'label': {'SSS': 'Total',
     '6': "6 Bachelor's or equivalent level",
     '7': "7 Master's or equivalent level",
     '8': '8 Doctoral or equivalent level'}},
   'link': {'describedby': [{'extension': {'Koulutusaste': 'SCALE-TYPE=ordinal'}}]}},
  'Tiedot': {'extension': {'show': 'value'},
   'label': 'Information',
   'category': {'index': {'vaesto': 0},
    'label': {'vaesto': 'Population aged 15 or over 31.12'},
    'unit': {'vaesto': {'base': 'Henkilö', 'decimals': 0}}}}},
 'value': [126901,
  31153,
  15639,
  187,
  126772,
  29890,
  27680,
  1466,
  125614,
  29043,
  30176,
  2720,
  118076,
  23643,
  27936,
  3253,
  103968,
  13620,
  22388,
  2725,
  114926,
  11059,
  20953,
  2854,
  105742,
  8842,
  17711,
  2530,
  94018,
  8875,
  13820,
  2168,
  88451,
  8073,
  10506,
  1932,
  84602,
  8013,
  9574,
  1772,
  51139,
  4455,
  5200,
  1118,
  65954,
  4478,
  4673,
  887,
  31301,
  7629,
  2466,
  36,
  29563,
  7000,
  4417,
  282,
  30169,
  6989,
  4995,
  530,
  29777,
  5463,
  4974,
  712,
  27546,
  3142,
  3907,
  646,
  32014,
  2792,
  3911,
  587,
  30950,
  2230,
  3358,
  556,
  30832,
  2312,
  2608,
  486,
  31954,
  2055,
  2131,
  417,
  30626,
  1933,
  1838,
  429,
  18756,
  1186,
  1004,
  236,
  28313,
  1281,
  818,
  189,
  11409,
  2232,
  486,
  4,
  11781,
  2697,
  969,
  19,
  12466,
  3012,
  1362,
  43,
  12380,
  2506,
  1418,
  60,
  12108,
  1546,
  1174,
  71,
  14752,
  1247,
  1229,
  90,
  15249,
  1050,
  1115,
  76,
  15807,
  1029,
  920,
  81,
  16932,
  936,
  662,
  52,
  15663,
  831,
  516,
  32,
  10140,
  490,
  356,
  41,
  15344,
  543,
  242,
  15,
  8579,
  1546,
  301,
  0,
  9156,
  1944,
  726,
  11,
  10108,
  2332,
  1149,
  49,
  10544,
  2031,
  1352,
  79,
  10165,
  1182,
  1180,
  87,
  11959,
  1004,
  1159,
  105,
  12293,
  873,
  1069,
  91,
  12251,
  776,
  847,
  96,
  12584,
  769,
  678,
  87,
  11704,
  622,
  597,
  77,
  7229,
  382,
  332,
  36,
  10721,
  415,
  278,
  34,
  35549,
  8597,
  3101,
  20,
  34547,
  8442,
  5699,
  261,
  34589,
  8477,
  6845,
  528,
  32866,
  6745,
  6554,
  671,
  29452,
  3737,
  5013,
  576,
  32632,
  3134,
  4575,
  600,
  32299,
  2537,
  3763,
  496,
  31711,
  2469,
  2806,
  437,
  32519,
  2105,
  2169,
  420,
  30500,
  1976,
  1666,
  322,
  19246,
  1147,
  978,
  160,
  28579,
  1265,
  745,
  130,
  11208,
  2159,
  430,
  1,
  11156,
  2529,
  982,
  22,
  11797,
  2831,
  1334,
  62,
  12130,
  2474,
  1449,
  65,
  11825,
  1545,
  1282,
  66,
  14247,
  1290,
  1296,
  83,
  14372,
  1055,
  1231,
  99,
  14786,
  1018,
  961,
  80,
  16215,
  923,
  743,
  86,
  15136,
  843,
  616,
  61,
  9501,
  466,
  357,
  41,
  13124,
  593,
  355,
  43,
  8261,
  1518,
  306,
  2,
  8527,
  1823,
  692,
  14,
  9270,
  2056,
  983,
  23,
  9571,
  1783,
  953,
  34,
  9670,
  1121,
  900,
  36,
  11764,
  1037,
  984,
  43,
  12444,
  898,
  876,
  43,
  12756,
  826,
  708,
  39,
  13243,
  754,
  571,
  34,
  12570,
  675,
  518,
  36,
  7949,
  401,
  323,
  19,
  11733,
  439,
  255,
  18,
  6768,
  1426,
  501,
  12,
  6697,
  1548,
  775,
  70,
  7089,
  1597,
  978,
  92,
  7333,
  1406,
  1005,
  94,
  7265,
  911,
  852,
  85,
  8769,
  756,
  882,
  102,
  9403,
  665,
  802,
  76,
  9797,
  662,
  621,
  80,
  10047,
  526,
  410,
  62,
  8912,
  450,
  341,
  39,
  6184,
  287,
  227,
  31,
  9324,
  338,
  179,
  10,
  6216,
  1292,
  291,
  6,
  6604,
  1608,
  560,
  14,
  6501,
  1583,
  697,
  19,
  6815,
  1323,
  820,
  48,
  7088,
  850,
  751,
  55,
  9348,
  836,
  802,
  66,
  10619,
  763,
  784,
  55,
  11655,
  712,
  671,
  66,
  12024,
  661,
  545,
  53,
  10730,
  513,
  457,
  48,
  7169,
  333,
  255,
  27,
  10925,
  456,
  239,
  18,
  14630,
  3249,
  843,
  14,
  14403,
  3428,
  1681,
  109,
  14384,
  3694,
  1953,
  224,
  13389,
  2801,
  1761,
  295,
  13314,
  1711,
  1592,
  250,
  16597,
  1445,
  1586,
  250,
  18413,
  1235,
  1511,
  262,
  19061,
  1129,
  1248,
  232,
  18972,
  976,
  905,
  159,
  16154,
  794,
  697,
  122,
  10481,
  498,
  341,
  55,
  16048,
  668,
  270,
  32,
  9745,
  2227,
  624,
  9,
  9099,
  2155,
  1055,
  64,
  9056,
  2143,
  1258,
  122,
  8502,
  1755,
  1085,
  146,
  8123,
  1040,
  992,
  157,
  10299,
  976,
  1048,
  171,
  12536,
  818,
  1038,
  143,
  13611,
  734,
  740,
  134,
  13369,
  651,
  575,
  100,
  11226,
  478,
  392,
  67,
  7252,
  315,
  218,
  40,
  10889,
  468,
  194,
  24,
  17596,
  4278,
  1382,
  25,
  16260,
  3864,
  2180,
  162,
  16470,
  3922,
  2704,
  314,
  15998,
  3194,
  2623,
  366,
  14615,
  1914,
  2171,
  288,
  16590,
  1463,
  1979,
  298,
  18485,
  1328,
  1879,
  264,
  18336,
  1215,
  1354,
  251,
  18669,
  1119,
  1110,
  218,
  16706,
  963,
  874,
  151,
  10810,
  587,
  431,
  93,
  15661,
  691,
  341,
  56,
  10193,
  2255,
  409,
  4,
  10480,
  2612,
  838,
  11,
  11123,
  2850,
  1245,
  37,
  10745,
  2197,
  1172,
  35,
  10359,
  1235,
  923,
  42,
  12476,
  880,
  1030,
  53,
  13327,
  709,
  842,
  44,
  14099,
  770,
  671,
  54,
  14252,
  663,
  509,
  44,
  12635,
  527,
  361,
  31,
  8030,
  353,
  188,
  7,
  13152,
  471,
  179,
  7,
  11097,
  2840,
  991,
  8,
  10553,
  2657,
  1575,
  38,
  10943,
  2850,
  2015,
  86,
  10340,
  2218,
  1719,
  119,
  9960,
  1268,
  1472,
  104,
  10710,
  1019,
  1336,
  115,
  10455,
  793,
  1085,
  83,
  10749,
  931,
  832,
  82,
  11109,
  788,
  559,
  84,
  10614,
  666,
  444,
  60,
  6985,
  339,
  238,
  33,
  11126,
  463,
  189,
  30,
  3720,
  778,
  176,
  0,
  4028,
  981,
  346,
  5,
  4016,
  1089,
  482,
  14,
  3918,
  841,
  426,
  22,
  3605,
  457,
  366,
  18,
  4134,
  316,
  386,
  25,
  4336,
  231,
  346,
  24,
  4373,
  299,
  253,
  26,
  4711,
  214,
  183,
  21,
  4307,
  165,
  126,
  16,
  2665,
  96,
  68,
  10,
  3933,
  151,
  38,
  1,
  26081,
  5657,
  2099,
  19,
  25204,
  5907,
  3406,
  216,
  26360,
  6453,
  4350,
  431,
  25272,
  5629,
  4237,
  459,
  22014,
  3478,
  3332,
  397,
  24611,
  2654,
  3033,
  448,
  25450,
  1992,
  2504,
  395,
  25912,
  1759,
  1831,
  393,
  25001,
  1435,
  1360,
  336,
  20447,
  1105,
  1008,
  237,
  13558,
  729,
  489,
  139,
  19679,
  871,
  317,
  89,
  3559,
  818,
  116,
  1,
  3678,
  876,
  297,
  6,
  3827,
  943,
  442,
  15,
  3603,
  712,
  461,
  20,
  3693,
  500,
  336,
  23,
  4864,
  456,
  413,
  21,
  5879,
  347,
  409,
  26,
  6393,
  337,
  361,
  22,
  6229,
  286,
  254,
  25,
  5119,
  234,
  201,
  12,
  3454,
  159,
  85,
  5,
  5276,
  181,
  51,
  8,
  10285,
  2118,
  566,
  4,
  10084,
  2282,
  1071,
  27,
  10088,
  2342,
  1297,
  51,
  9250,
  1821,
  1207,
  76,
  8852,
  1169,
  975,
  77,
  11645,
  1039,
  1138,
  92,
  14011,
  968,
  1036,
  87,
  14497,
  847,
  861,
  84,
  13967,
  759,
  650,
  63,
  11154,
  575,
  406,
  55,
  7517,
  366,
  196,
  16,
  11318,
  447,
  169,
  7,
  1774,
  336,
  95,
  1,
  1804,
  393,
  190,
  6,
  1881,
  368,
  239,
  11,
  1856,
  347,
  214,
  9,
  1956,
  254,
  246,
  9,
  2212,
  225,
  197,
  7,
  1970,
  143,
  163,
  6,
  1917,
  150,
  131,
  12,
  1960,
  172,
  96,
  16,
  1855,
  130,
  94,
  12,
  1194,
  95,
  49,
  8,
  1611,
  122,
  48,
  10,
  128407,
  31677,
  16264,
  150,
  129666,
  30317,
  28220,
  1398,
  127942,
  29227,
  30664,
  2697,
  120602,
  25514,
  29074,
  3377,
  104935,
  15072,
  23363,
  2861,
  113088,
  11300,
  21439,
  2836,
  108285,
  9299,
  18448,
  2697,
  94644,
  8693,
  14511,
  2239,
  87046,
  8136,
  10813,
  1981,
  88463,
  8386,
  10187,
  1838,
  53239,
  4874,
  5736,
  1212,
  69094,
  4823,
  5046,
  1001,
  31597,
  7711,
  2546,
  22,
  29468,
  7087,
  4291,
  272,
  30564,
  7052,
  5123,
  537,
  30110,
  6006,
  5046,
  717,
  27305,
  3429,
  4122,
  657,
  31389,
  2826,
  3951,
  611,
  31263,
  2349,
  3568,
  546,
  30408,
  2249,
  2734,
  507,
  31471,
  2139,
  2203,
  444,
  31975,
  1989,
  1953,
  418,
  ...],
 'role': {'time': ['Vuosi'], 'metric': ['Tiedot']},
 'version': '2.0',
 'extension': {'px': {'tableid': 'statfin_vkour_pxt_12bq', 'decimals': 0}}}

In [11]:
values = json_data['value']
shape = json_data['size']

json_year = json_data['dimension']['Vuosi']['category']['label'].values()
json_region = json_data['dimension']['Alue']['category']['label'].values()
json_age = json_data['dimension']['Ik\u00e4']['category']['label'].values()
json_education = json_data['dimension']['Koulutusaste']['category']['label'].values()
print(json_year)
print(json_region)
print(json_age)
print(json_education)
print(len(json_year))
print(len(json_region))
print(len(json_age))
print(len(json_education))
print(shape)

# Load values into a 1D NumPy array
values = np.array(values).reshape(shape).squeeze()
# reshape = np.reshape(values, (19,12,6))
# print(reshape.shape)
# reshape
print(values.shape)
values
# transformed = np.rollaxis(values, 0, -1).reshape(len(json_year), len(json_region), len(json_age), len(json_education))
# print(transformed.shape)
# transformed

dict_values(['2018', '2019', '2020', '2021', '2022'])
dict_values(['MK01 Uusimaa', 'MK02 Southwest Finland', 'MK04 Satakunta', 'MK05 Kanta-Häme', 'MK06 Pirkanmaa', 'MK07 Päijät-Häme', 'MK08 Kymenlaakso', 'MK09 South Karelia', 'MK10 South Savo', 'MK11 North Savo', 'MK12 North Karelia', 'MK13 Central Finland', 'MK14 South Ostrobothnia', 'MK15 Ostrobothnia', 'MK16 Central Ostrobothnia', 'MK17 North Ostrobothnia', 'MK18 Kainuu', 'MK19 Lapland', 'MK21 Åland'])
dict_values(['25 - 29', '30 - 34', '35 - 39', '40 - 44', '45 - 49', '50 - 54', '55 - 59', '60 - 64', '65 - 69', '70 - 74', '75 - 79', '80 -'])
dict_values(['Total', "6 Bachelor's or equivalent level", "7 Master's or equivalent level", '8 Doctoral or equivalent level'])
5
19
12
4
[5, 19, 12, 1, 4, 1]
(5, 19, 12, 4)

array([[[[126901,  31153,  15639,    187],
         [126772,  29890,  27680,   1466],
         [125614,  29043,  30176,   2720],
         ...,
         [ 84602,   8013,   9574,   1772],
         [ 51139,   4455,   5200,   1118],
         [ 65954,   4478,   4673,    887]],

        [[ 31301,   7629,   2466,     36],
         [ 29563,   7000,   4417,    282],
         [ 30169,   6989,   4995,    530],
         ...,
         [ 30626,   1933,   1838,    429],
         [ 18756,   1186,   1004,    236],
         [ 28313,   1281,    818,    189]],

        [[ 11409,   2232,    486,      4],
         [ 11781,   2697,    969,     19],
         [ 12466,   3012,   1362,     43],
         ...,
         [ 15663,    831,    516,     32],
         [ 10140,    490,    356,     41],
         [ 15344,    543,    242,     15]],

        ...,

        [[  3559,    818,    116,      1],
         [  3678,    876,    297,      6],
         [  3827,    943,    442,     15],
         ...,
         [  5119,    234,    201,     12],
         [  3454,    159,     85,      5],
         [  5276,    181,     51,      8]],

        [[ 10285,   2118,    566,      4],
         [ 10084,   2282,   1071,     27],
         [ 10088,   2342,   1297,     51],
         ...,
         [ 11154,    575,    406,     55],
         [  7517,    366,    196,     16],
         [ 11318,    447,    169,      7]],

        [[  1774,    336,     95,      1],
         [  1804,    393,    190,      6],
         [  1881,    368,    239,     11],
         ...,
         [  1855,    130,     94,     12],
         [  1194,     95,     49,      8],
         [  1611,    122,     48,     10]]],


       [[[128407,  31677,  16264,    150],
         [129666,  30317,  28220,   1398],
         [127942,  29227,  30664,   2697],
         ...,
         [ 88463,   8386,  10187,   1838],
         [ 53239,   4874,   5736,   1212],
         [ 69094,   4823,   5046,   1001]],

        [[ 31597,   7711,   2546,     22],
         [ 29468,   7087,   4291,    272],
         [ 30564,   7052,   5123,    537],
         ...,
         [ 31975,   1989,   1953,    418],
         [ 19338,   1267,   1076,    276],
         [ 29031,   1402,    934,    208]],

        [[ 11313,   2219,    472,      5],
         [ 11533,   2610,    927,     15],
         [ 12570,   2988,   1349,     45],
         ...,
         [ 16496,    868,    550,     37],
         [ 10167,    531,    367,     40],
         [ 15719,    571,    276,     14]],

        ...,

        [[  3532,    789,    127,      1],
         [  3547,    849,    277,      7],
         [  3871,    937,    430,     10],
         ...,
         [  5432,    264,    217,     14],
         [  3401,    158,    102,      6],
         [  5462,    196,     59,     10]],

        [[ 10168,   2166,    539,      2],
         [  9969,   2280,   1051,     23],
         [ 10297,   2386,   1322,     43],
         ...,
         [ 12105,    638,    457,     52],
         [  7304,    380,    217,     20],
         [ 11598,    454,    173,      9]],

        [[  1685,    318,    105,      1],
         [  1858,    390,    201,      4],
         [  1911,    398,    246,     10],
         ...,
         [  1899,    134,     88,     10],
         [  1288,    106,     56,     10],
         [  1654,    127,     56,     10]]],


       [[[127804,  31742,  17123,    131],
         [132694,  30890,  28827,   1301],
         [129610,  29197,  31234,   2747],
         ...,
         [ 87930,   8283,  10189,   1809],
         [ 59126,   5529,   6684,   1371],
         [ 70726,   5172,   5398,   1101]],

        [[ 31636,   7696,   2735,     26],
         [ 30067,   7233,   4421,    256],
         [ 30716,   7049,   5147,    534],
         ...,
         [ 32222,   1991,   2016,    430],
         [ 21440,   1412,   1253,    317],
         [ 29348,   1456,   1014,    222]],

        [[ 11053,   2226,    475,      4],
         [ 11591,   2545,    898,     15],
         [ 12676,   2981,   1337,     33],
         ...,
         [ 16743,    866,    579,     39],
         [ 10931,    580,    380,     43],
         [ 15816,    609,    305,     19]],

        ...,

        [[  3411,    782,    131,      1],
         [  3540,    861,    267,      7],
         [  3929,    963,    419,     11],
         ...,
         [  5571,    260,    214,     16],
         [  3637,    184,    127,      6],
         [  5403,    201,     66,      8]],

        [[  9872,   2134,    587,      6],
         [ 10102,   2302,   1057,     19],
         [ 10539,   2445,   1364,     51],
         ...,
         [ 12794,    641,    506,     53],
         [  7591,    419,    253,     26],
         [ 11653,    468,    183,     10]],

        [[  1638,    303,     94,      1],
         [  1913,    399,    190,      2],
         [  1935,    392,    242,     10],
         ...,
         [  1878,    140,     87,      7],
         [  1365,    110,     66,      8],
         [  1712,    132,     62,     11]]],


       [[[125776,  31154,  17240,    102],
         [135675,  31645,  28927,   1247],
         [130241,  28914,  31137,   2598],
         ...,
         [ 85420,   8072,  10091,   1848],
         [ 63174,   6020,   7299,   1471],
         [ 75355,   5760,   6170,   1273]],

        [[ 31272,   7637,   2853,     26],
         [ 30939,   7389,   4520,    236],
         [ 30825,   7065,   5189,    528],
         ...,
         [ 31450,   1974,   1995,    408],
         [ 22960,   1547,   1412,    346],
         [ 30618,   1617,   1164,    263]],

        [[ 10981,   2237,    502,      2],
         [ 11532,   2531,    890,     17],
         [ 12645,   2978,   1311,     26],
         ...,
         [ 16482,    896,    599,     45],
         [ 11516,    604,    408,     31],
         [ 16400,    658,    355,     31]],

        ...,

        [[  3410,    746,    125,      2],
         [  3531,    843,    257,      4],
         [  4029,    992,    429,     11],
         ...,
         [  5597,    261,    224,     15],
         [  3703,    185,    138,      9],
         [  5606,    230,     83,      9]],

        [[  9555,   2128,    562,      5],
         [ 10385,   2380,   1089,     17],
         [ 10669,   2446,   1418,     48],
         ...,
         [ 12828,    635,    547,     52],
         [  7903,    446,    267,     36],
         [ 12180,    514,    226,     12]],

        [[  1556,    307,     95,      0],
         [  1984,    420,    206,      3],
         [  1911,    403,    236,      8],
         ...,
         [  1850,    144,     97,      7],
         [  1492,    110,     68,      8],
         [  1780,    142,     66,     11]]],


       [[[124583,  30141,  17071,     92],
         [140324,  32468,  29162,   1165],
         [131283,  28681,  30841,   2535],
         ...,
         [ 83396,   7838,   9958,   1828],
         [ 70049,   6818,   8242,   1592],
         [ 75832,   6032,   6570,   1353]],

        [[ 30952,   7441,   2997,     21],
         [ 32279,   7762,   4658,    218],
         [ 30568,   7011,   5110,    527],
         ...,
         [ 30712,   1973,   2020,    425],
         [ 25681,   1682,   1599,    378],
         [ 30315,   1701,   1277,    287]],

        [[ 10627,   2144,    531,      1],
         [ 11596,   2511,    855,     14],
         [ 12391,   2924,   1278,     22],
         ...,
         [ 16137,    894,    588,     49],
         [ 12878,    683,    473,     33],
         [ 16087,    682,    380,     34]],

        ...,

        [[  3297,    711,    139,      3],
         [  3546,    844,    252,      2],
         [  3967,    966,    395,     12],
         ...,
         [  5644,    261,    232,     16],
         [  4107,    194,    161,      9],
         [  5434,    224,     94,      8]],

        [[  9264,   2071,    557,      5],
         [ 10712,   2418,   1119,     20],
         [ 10629,   2469,   1412,     46],
         ...,
         [ 12803,    676,    573,     51],
         [  8882,    474,    311,     40],
         [ 11852,    526,    250,     17]],

        [[  1435,    279,     80,      0],
         [  1965,    402,    180,      2],
         [  1902,    412,    235,      8],
         ...,
         [  1860,    158,     93,     15],
         [  1574,    104,     76,      7],
         [  1863,    158,     72,     12]]]])

In [20]:
# Create the nested index
tuples = []
for year in json_year:
    for region in json_region:
        for age in json_age:
            tuples.append((year, region, age))

index = pd.MultiIndex.from_tuples(tuples, names=["Year", "Region", "Age Group"])

# Create a NumPy array from the value list
value_array = np.array(json_data['value'])
shape = json_data['size']

transformed_array = np.array(value_array).reshape(shape).squeeze()
# reshape from (5, 19, 12, 4) to (5*19*12, 4)
transformed_array = transformed_array.reshape(-1, len(json_education))

# Create a DataFrame from the value list with the nested index
df = pd.DataFrame(data=transformed_array, index=index, columns=json_education)

# Print the DataFrame
df

                              Total  6 Bachelor's or equivalent level  \
Year Region       Age Group
2018 MK01 Uusimaa 25 - 29    126901                             31153
                  30 - 34    126772                             29890
                  35 - 39    125614                             29043
                  40 - 44    118076                             23643
                  45 - 49    103968                             13620
...                             ...                               ...
2022 MK21 Åland   60 - 64      1956                               135
                  65 - 69      1943                               170
                  70 - 74      1860                               158
                  75 - 79      1574                               104
                  80 -         1863                               158

                             7 Master's or equivalent level  \
Year Region       Age Group
2018 MK01 Uusimaa 25 - 29                             15639
                  30 - 34                             27680
                  35 - 39                             30176
                  40 - 44                             27936
                  45 - 49                             22388
...                                                     ...
2022 MK21 Åland   60 - 64                               160
                  65 - 69                               120
                  70 - 74                                93
                  75 - 79                                76
                  80 -                                   72

                             8 Doctoral or equivalent level
Year Region       Age Group
2018 MK01 Uusimaa 25 - 29                               187
                  30 - 34                              1466
                  35 - 39                              2720
                  40 - 44                              3253
                  45 - 49                              2725
...                                                     ...
2022 MK21 Åland   60 - 64                                 4
                  65 - 69                                13
                  70 - 74                                15
                  75 - 79                                 7
                  80 -                                   12

[1140 rows x 4 columns]

In [21]:
df = df.groupby(level=['Year', 'Region']).sum().copy()
df

                                  Total  6 Bachelor's or equivalent level  \
Year Region
2018 MK01 Uusimaa               1206163                            181144
     MK02 Southwest Finland      351801                             44012
     MK04 Satakunta              164031                             18119
     MK05 Kanta-Häme             127293                             13876
     MK06 Pirkanmaa              374489                             50631
...                                 ...                               ...
2022 MK16 Central Ostrobothnia    48087                              6317
     MK17 North Ostrobothnia     287818                             42391
     MK18 Kainuu                  54338                              6308
     MK19 Lapland                132814                             16657
     MK21 Åland                   22579                              3002

                                7 Master's or equivalent level  \
Year Region
2018 MK01 Uusimaa                                       206256
     MK02 Southwest Finland                              36427
     MK04 Satakunta                                      10449
     MK05 Kanta-Häme                                      9668
     MK06 Pirkanmaa                                      43914
...                                                        ...
2022 MK16 Central Ostrobothnia                            3650
     MK17 North Ostrobothnia                             32213
     MK18 Kainuu                                          3781
     MK19 Lapland                                        10929
     MK21 Åland                                           1958

                                8 Doctoral or equivalent level
Year Region
2018 MK01 Uusimaa                                        23612
     MK02 Southwest Finland                               5106
     MK04 Satakunta                                        584
     MK05 Kanta-Häme                                       752
     MK06 Pirkanmaa                                       4621
...                                                        ...
2022 MK16 Central Ostrobothnia                             198
     MK17 North Ostrobothnia                              3907
     MK18 Kainuu                                           181
     MK19 Lapland                                          680
     MK21 Åland                                            107

[95 rows x 4 columns]

In [22]:
df.reset_index(inplace=True)
df['Region code'] = df['Region'].str[:4]

# Calculate ratio of Bachelor's, Master's and Doctoral degrees to total for each year in each region
df["Bachelor's Percentage"] = df["6 Bachelor\'s or equivalent level"] / df['Total'] * 100
df["Master's Percentage"] = df["7 Master\'s or equivalent level"] / df['Total'] * 100
df["Doctoral Percentage"] = df["8 Doctoral or equivalent level"] / df['Total'] * 100

# # Calculate education attainment absolute growth index
# education_attainment["Bachelor's Aboslute Growth 2018-2022 (persons)"] = education_attainment["2022 6 Bachelor\'s or equivalent level"] - education_attainment["2018 6 Bachelor\'s or equivalent level"]
# education_attainment["Master's Aboslute Growth 2018-2022 (persons)"] = education_attainment["2022 7 Master\'s or equivalent level"] - education_attainment["2018 7 Master\'s or equivalent level"]
# education_attainment["Doctoral Aboslute Growth 2018-2022 (persons)"] = education_attainment["2022 8 Doctoral or equivalent level"] - education_attainment["2018 8 Doctoral or equivalent level"]

# # Calculate education attainment relative growth index
# education_attainment["Bachelor's Relative Growth 2018-2022 (%)"] = education_attainment["Bachelor's Aboslute Growth 2018-2022 (persons)"] / education_attainment["2018 6 Bachelor\'s or equivalent level"] * 100
# education_attainment["Master's Relative Growth 2018-2022 (%)"] = education_attainment["Master's Aboslute Growth 2018-2022 (persons)"] / education_attainment["2018 7 Master\'s or equivalent level"] * 100
# education_attainment["Doctoral Relative Growth 2018-2022 (%)"] = education_attainment["Doctoral Aboslute Growth 2018-2022 (persons)"] / education_attainment["2018 8 Doctoral or equivalent level"] * 100

# # Calculate education attainment ratio growth index
# education_attainment["Bachelor's Ratio Growth 2018-2022 (%)"] = education_attainment["2022 Bachelor's Percentage"] - education_attainment["2018 Bachelor's Percentage"]
# education_attainment["Master's Ratio Growth 2018-2022 (%)"] = education_attainment["2022 Master's Percentage"] - education_attainment["2018 Master's Percentage"]
# education_attainment["Doctoral Ratio Growth 2018-2022 (%)"] = education_attainment["2022 Doctoral Percentage"] - education_attainment["2018 Doctoral Percentage"]

growth_columns = [
    "6 Bachelor's or equivalent level",
    "7 Master's or equivalent level",
    '8 Doctoral or equivalent level',
]

ratio_columns = [
    "Bachelor's Percentage",
    "Master's Percentage",
    'Doctoral Percentage',
]

for col in growth_columns:
    degree_name = col.split(' ')[1]
    # Calculate the difference between consecutive years for columns
    df[f'{degree_name} absolute growth (person)'] = df.groupby('Region')[col].diff()
    # Fill NaN values with 0 for the first year
    df[f'{degree_name} absolute growth (person)'].fillna(0, inplace=True)

    # Calculate the relative growth for columns
    df[f'{degree_name} relative growth (%)'] = df[f'{degree_name} absolute growth (person)'] / df[col] * 100
    # Fill NaN values with 0 for the first year
    df[f'{degree_name} relative growth (%)'].fillna(0, inplace=True)

for col in ratio_columns:
    degree_name = col.split(' ')[0]
    # Calculate the difference between consecutive years for columns
    df[f'{degree_name} ratio growth (%)'] = df.groupby('Region')[col].diff()
    # Fill NaN values with 0 for the first year
    df[f'{degree_name} ratio growth (%)'].fillna(0, inplace=True)

df

,Year,Region,Total,6 Bachelor's or equivalent level,7 Master's or equivalent level,8 Doctoral or equivalent level,Region code,Bachelor's Percentage,Master's Percentage,Doctoral Percentage,Bachelor's absolute growth (person),Bachelor's relative growth (%),Master's absolute growth (person),Master's relative growth (%),Doctoral absolute growth (person),Doctoral relative growth (%),Bachelor's ratio growth (%),Master's ratio growth (%),Doctoral ratio growth (%)
0,2018,MK01 Uusimaa,1206163,181144,206256,23612,MK01,15.018202,17.100176,1.957613,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
1,2018,MK02 Southwest Finland,351801,44012,36427,5106,MK02,12.510482,10.354433,1.451389,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
2,2018,MK04 Satakunta,164031,18119,10449,584,MK04,11.046083,6.370137,0.356030,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
3,2018,MK05 Kanta-Häme,127293,13876,9668,752,MK05,10.900835,7.595076,0.590763,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
4,2018,MK06 Pirkanmaa,374489,50631,43914,4621,MK06,13.520023,11.726379,1.233948,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2022,MK16 Central Ostrobothnia,48087,6317,3650,198,MK16,13.136607,7.590409,0.411754,155.0,2.453696,104.0,2.849315,8.0,4.040404,0.302048,0.204602,0.016011
91,2022,MK17 North Ostrobothnia,287818,42391,32213,3907,MK17,14.728405,11.192142,1.357455,999.0,2.356632,1118.0,3.470648,104.0,2.661889,0.250058,0.315543,0.027218
92,2022,MK18 Kainuu,54338,6308,3781,181,MK18,11.608819,6.958298,0.333100,58.0,0.919467,107.0,2.829939,-5.0,-2.762431,0.202252,0.253062,-0.006359
93,2022,MK19 Lapland,132814,16657,10929,680,MK19,12.541600,8.228801,0.511994,428.0,2.569490,330.0,3.019489,15.0,2.205882,0.336132,0.257531,0.011863
94,2022,MK21 Åland,22579,3002,1958,107,MK21,13.295540,8.671775,0.473892,34.0,1.132578,16.0,0.817160,-2.0,-1.869159,0.138345,0.062855,-0.009307

In [23]:
df.columns.tolist()

['Year',
 'Region',
 'Total',
 "6 Bachelor's or equivalent level",
 "7 Master's or equivalent level",
 '8 Doctoral or equivalent level',
 'Region code',
 "Bachelor's Percentage",
 "Master's Percentage",
 'Doctoral Percentage',
 "Bachelor's absolute growth (person)",
 "Bachelor's relative growth (%)",
 "Master's absolute growth (person)",
 "Master's relative growth (%)",
 'Doctoral absolute growth (person)',
 'Doctoral relative growth (%)',
 "Bachelor's ratio growth (%)",
 "Master's ratio growth (%)",
 'Doctoral ratio growth (%)']

In [26]:
columns = [
    'Year',
    'Region code',
    'Total',
    "6 Bachelor's or equivalent level",
    "7 Master's or equivalent level",
    '8 Doctoral or equivalent level',
    "Bachelor's Percentage",
    "Master's Percentage",
    'Doctoral Percentage',
    "Bachelor's absolute growth (person)",
    "Bachelor's relative growth (%)",
    "Master's absolute growth (person)",
    "Master's relative growth (%)",
    'Doctoral absolute growth (person)',
    'Doctoral relative growth (%)',
    "Bachelor's ratio growth (%)",
    "Master's ratio growth (%)",
    'Doctoral ratio growth (%)'
]
education_attainment = df[columns].copy()
education_attainment

,Year,Region code,Total,6 Bachelor's or equivalent level,7 Master's or equivalent level,8 Doctoral or equivalent level,Bachelor's Percentage,Master's Percentage,Doctoral Percentage,Bachelor's absolute growth (person),Bachelor's relative growth (%),Master's absolute growth (person),Master's relative growth (%),Doctoral absolute growth (person),Doctoral relative growth (%),Bachelor's ratio growth (%),Master's ratio growth (%),Doctoral ratio growth (%)
0,2018,MK01,1206163,181144,206256,23612,15.018202,17.100176,1.957613,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
1,2018,MK02,351801,44012,36427,5106,12.510482,10.354433,1.451389,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
2,2018,MK04,164031,18119,10449,584,11.046083,6.370137,0.356030,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
3,2018,MK05,127293,13876,9668,752,10.900835,7.595076,0.590763,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
4,2018,MK06,374489,50631,43914,4621,13.520023,11.726379,1.233948,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2022,MK16,48087,6317,3650,198,13.136607,7.590409,0.411754,155.0,2.453696,104.0,2.849315,8.0,4.040404,0.302048,0.204602,0.016011
91,2022,MK17,287818,42391,32213,3907,14.728405,11.192142,1.357455,999.0,2.356632,1118.0,3.470648,104.0,2.661889,0.250058,0.315543,0.027218
92,2022,MK18,54338,6308,3781,181,11.608819,6.958298,0.333100,58.0,0.919467,107.0,2.829939,-5.0,-2.762431,0.202252,0.253062,-0.006359
93,2022,MK19,132814,16657,10929,680,12.541600,8.228801,0.511994,428.0,2.569490,330.0,3.019489,15.0,2.205882,0.336132,0.257531,0.011863
94,2022,MK21,22579,3002,1958,107,13.295540,8.671775,0.473892,34.0,1.132578,16.0,0.817160,-2.0,-1.869159,0.138345,0.062855,-0.009307

In [27]:
final_df = pd.merge(base_df, education_attainment, on='Region code', how='inner')
final_df

,Region code,Region name (en),Region name (fi),Year,Total,6 Bachelor's or equivalent level,7 Master's or equivalent level,8 Doctoral or equivalent level,Bachelor's Percentage,Master's Percentage,Doctoral Percentage,Bachelor's absolute growth (person),Bachelor's relative growth (%),Master's absolute growth (person),Master's relative growth (%),Doctoral absolute growth (person),Doctoral relative growth (%),Bachelor's ratio growth (%),Master's ratio growth (%),Doctoral ratio growth (%)
0,MK01,Uusimaa,Uusimaa,2018,1206163,181144,206256,23612,15.018202,17.100176,1.957613,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
1,MK01,Uusimaa,Uusimaa,2019,1225411,187318,213765,24287,15.286137,17.444351,1.981947,6174.0,3.295999,7509.0,3.512736,675.0,2.779265,0.267934,0.344175,0.024335
2,MK01,Uusimaa,Uusimaa,2020,1239634,192142,221822,24869,15.499898,17.894153,2.006157,4824.0,2.510643,8057.0,3.632192,582.0,2.340263,0.213761,0.449801,0.024209
3,MK01,Uusimaa,Uusimaa,2021,1251592,196265,227784,25288,15.681228,18.199541,2.020467,4123.0,2.100731,5962.0,2.617392,419.0,1.656912,0.181331,0.305388,0.014310
4,MK01,Uusimaa,Uusimaa,2022,1268209,200152,233489,25668,15.782257,18.410924,2.023957,3887.0,1.942024,5705.0,2.443370,380.0,1.480443,0.101028,0.211383,0.003490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,MK21,Åland,Ahvenanmaa,2018,21990,2735,1762,107,12.437472,8.012733,0.486585,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
91,MK21,Åland,Ahvenanmaa,2019,22081,2814,1845,105,12.743988,8.355600,0.475522,79.0,2.807392,83.0,4.498645,-2.0,-1.904762,0.306516,0.342867,-0.011063
92,MK21,Åland,Ahvenanmaa,2020,22348,2862,1875,106,12.806515,8.390013,0.474315,48.0,1.677149,30.0,1.600000,1.0,0.943396,0.062527,0.034413,-0.001207
93,MK21,Åland,Ahvenanmaa,2021,22558,2968,1942,109,13.157195,8.608919,0.483199,106.0,3.571429,67.0,3.450051,3.0,2.752294,0.350680,0.218907,0.008883
94,MK21,Åland,Ahvenanmaa,2022,22579,3002,1958,107,13.295540,8.671775,0.473892,34.0,1.132578,16.0,0.817160,-2.0,-1.869159,0.138345,0.062855,-0.009307

In [83]:
final_df.to_csv('../data/Indices/education_attainment_index.csv', index=False)